# JWT
JWT_SECRET_KEY=

# MongoDB Atlas
MONGODB_URI=
MONGODB_DB_NAME=

# Qdrant Cloud
QDRANT_URL=

QDRANT_API_KEY=
# Redis
REDIS_URL=redis://localhost:6379

# OpenAI
OPENAI_API_KEY=
COHERE_API_KEY=

# Frontend
FRONTEND_URL=http://localhost:5173